body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.one {
    font-weight: bold;
    font-size: 25px;
    color: rgb(119, 118, 118);
}

nav {
    width: 100px;
    background-color: white;
    text-align: center;

}

.active {
  background-color: rgba(248, 239, 239, 0.849);
}

.nav-item:hover {
  background-color: rgba(248, 239, 239, 0.849);
}

.header {
    position: fixed;
}
.brand-logo {
        margin-top: 10px;
        margin-left: 30px;
    }

.home-icon {
    height: 30px;
    width: 30px;
}
.storage-icon {
    height: 30px;
    width: 30px;
}

.support-icon {
    height: 30px;
    width: 30px;
}

.settings-icon {
    height: 30px;
    width: 30px;
}

.content {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 80%;
    text-align: center;
}

.hello {
    margin: 30px auto;
}
.span1 {
    font-size: 22px;
}
h1, h3 {
    margin-bottom: 20px;
}

.btn-upgrade {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #3498db;
  padding: 10px 24px 10px 25px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-upgrade:hover {
  background: #1e83c7;
  color: #ffffff;
  text-decoration: none;
}

.btn-card {
   -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #2a27f0;
  font-size: 14px;
  background: #fcfeff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

.third {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fourth {
    width: 700px;

    margin-top: 20px;
    background-color: white;
    margin: 20px auto;
    font-size: 15px;
}

.card-header {
    background-color: white;
}
.btn-card:hover {
  background: #f0f6fa;
  text-decoration: none;
}

.btn {
    color: black;
    background-color: white;
    font-size: 15px;
}
.btn:hover {
    text-decoration: none;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.card-main {
    height: 280px;
    width: 350px;
    border: 1px solid rgb(151, 149, 149);
    padding: 20px 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.play-main {
    height: 280px;
    width: 350px;
    background-color: rgba(248, 239, 239, 0.849);
    border: 1px solid rgb(151, 149, 149);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 350px;
}

.storage-tab {
    height: 150px;
    width: 700px;
    border: 1px solid rgb(151, 149, 149);
    padding: 20px 20px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: left;
}
.footer {
    display: inline-block;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    top: 1850px;
    margin-top: 40px;
    background-color: white;
   text-align: right;
  position: absolute;

}

.footer-link {
  margin: 10px 10px;
  font-size: 13px;
  color: grey;
}

.footer-link:hover {
  text-decoration: none;
}

.align {
    padding-right: 620px;
}






}
hr {
    width: 100%;
    border-style: solid;
    border-color: rgb(233, 230, 230);
    border-width: 4px;
    border-radius: 3px;
    background-color: rgb(233, 230, 230);
}

/* mobile vew styles */

@media (max-width: 1000px) {
     .navbar-toggler {
        position: fixed;
        top: 0;
        margin-top: 10px;
    }

    .brand-logo {
        position: fixed;
        left: 50px;
        margin-top: 10px;
    }
    .storage-tab {
    height: 150px;
    width: 80%;
    border: 1px solid rgb(151, 149, 149);
    padding: 20px 20px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: left;
}

.fourth {
    width: 80%;
}
    .card-main {

    margin-bottom: 20px;
}

.play-main {
  margin: auto;
}

.footer {
    top: 2300px;
  position: absolute;

}
    }
